<div class="rounded-2xl p-2 mt-1 border transition shadow-sm flex flex-col justify-between bg-white border-border">
   <div class="flex items-center justify-between">
      <div>
         <div class="font-semibold text-heading pr-4"> {{ bookingObject?.name }} ({{ bookingObject?.resourceTypeName }}) </div>
         <div> {{ bookingObject?.date }} </div>
      </div>
      <app-button label="Boka" class="h-1/2" size="x-small" (onClick)="handleBookingService.makeAiBooking(bookingObject!)"></app-button>
   </div>
</div>