<div class="confirmation-popup">
  @if (!bookingIsConfirmed) {
  <div class="confirmation-popup__message">
    <h1 class="confirmation-popup__title">Bekräfta bokning</h1>
    <p class="confirmation-popup__text">
      Boka <span class="font-semibold">{{ selectedResourceName }}</span> för
      <span class="font-semibold">{{ localDate }}</span
      >?
    </p>
  </div>

  <div class="confirmation-popup__actions">
    <app-button
      label="Avbryt"
      size="small"
      buttonStyle="outlined"
      bgColor="var(--color-primary-dark)"
      textColor="var(--color-primary-dark)"
      (onClick)="handleCancelClick()"
    ></app-button>
    <app-button
      label="Boka"
      size="small"
      bgColor="var(--color-primary-dark)"
      (onClick)="handleBookClick()"
    ></app-button>
  </div>
  } @else {
  <div class="confirmation-popup__message">
    <h1 class="confirmation-popup__title">Din bokning är bekräftad!</h1>
    <div class="confirmation-popup__actions">
      <a routerLink="/profil">
        <app-button
          label="Gå till profil"
          size="small"
          bgColor="var(--color-primary-dark)"
        ></app-button>
      </a>
    </div>
  </div>
  }
</div>
